[Desktop Entry]
Version=1.0
Type=Application
Name=Mupen64Plus-Qt
GenericName=Mupen64Plus Launcher
GenericName[ru]=Интерфейс для Mupen64Plus
Comment=A customizable launcher for Mupen64Plus
Comment[ru]=Настраиваемый интерфейс для Mupen64Plus
Exec=mupen64plus-qt
Icon=mupen64plus-qt
Terminal=false
Categories=Game;Emulator;
Keywords=emulator;mupen;mupen64plus;Nintendo;64;
