[Desktop Entry]
Categories=Game;Emulator;
Exec=mupen64plus-qt
Icon=mupen64plus-qt
Terminal=false
Type=Application
Version=1.0

Name=Mupen64Plus-Qt
Name[it]=Emulatore di giochi Nintendo 64 Mupen64Plus-Qt
Name[it_IT]=Emulatore di giochi Nintendo 64 Mupen64Plus-Qt
Name[pt]=Emulador de Jogos do Nintendo 64 Mupen64Plus-Qt
Name[pt_BR]=Emulador de Jogos do Nintendo 64 Mupen64Plus-Qt

GenericName=Mupen64Plus Launcher
GenericName[it]=Avviatore Mupen64Plus
GenericName[it_IT]=Avviatore Mupen64Plus
GenericName[pt]=Lançador ou Inicializador do Mupen64Plus
GenericName[pt_BR]=Lançador ou Inicializador do Mupen64Plus
GenericName[ru]=Интерфейс для Mupen64Plus

Comment=A customizable launcher for Mupen64Plus
Comment[it]=È un lanciatore di giochi multipiattaforma personalizzabile che è stato adattato da CEN64-Qt per funzionare con Mupen64Plus
Comment[it_IT]=È un lanciatore di giochi multipiattaforma personalizzabile che è stato adattato da CEN64-Qt per funzionare con Mupen64Plus
Comment[pt]=É um inicializador ou lançador de jogos multiplataforma personalizável que foi adaptado do CEN64-Qt para funcionar com o Mupen64Plus
Comment[pt_BR]=O ‘Mupen64Plus-Qt’ é um inicializador ou lançador de jogos multiplataforma personalizável que foi adaptado do CEN64-Qt para funcionar com o Mupen64Plus
Comment[ru]=Настраиваемый интерфейс для Mupen64Plus

# Translators: Search terms to find this application. Don't translate the semicolons! The list MUST also end with a semicolon!
Keywords=emulator;mupen;mupen64plus;Nintendo;64;
Keywords[it]=Emulatore;Giochi;mupen;mupen64plus;Nintendo;64;Gioco Elettronico;Videogiochi;
Keywords[it_IT]=Emulatore;Giochi;mupen;mupen64plus;Nintendo;64;Gioco Elettronico;Videogiochi;
Keywords[pt]=Emulador;Jogos;mupen;mupen64plus;Nintendo;64;Jogo Eletrónico;Videojogos;
Keywords[pt_BR]=Emulador;Jogos;mupen;mupen64plus;Nintendo;64;Jogo Eletrônico;Jogos em Vídeo;Videogame;

# Dear volunteer translators, please add your language abbreviation and your name here in alphabetical order.
# it, it_IT: Spartak77
# pt: marcelocripe (os textos em idioma pt precisam ser revisados por um nativo do idioma Português de Portugal/Europeu)
# pt_BR: marcelocripe
